<app-sidebar></app-sidebar>
<div class="container-fluid mainContent">
  <form class="text-center">
      <h3 class="allcaps">Thank you for choosing Keppel Electric</h3>
      <i class="fa fa-check-square-o fa-5x" aria-hidden="true"></i>
      <p>Your Application is being processed.
          <br/>Please check your email inbox for more information.</p>
      <img src="assets/img/ico-Acknowledgement.png" alt="" class="acknowledgementImage" />
      <div class="form-group" style="margin-top:20px;">
          <button type="button" class="btn btn-primary emphasis" routerLink="/new-user-recommendation">Return Home</button>
      </div>
  </form>
</div>
<app-footer></app-footer>