
.Buttons {
  position: relative;
  top: -40px;
}

@media screen and (max-width: 767px) {
  .Buttons {
    top: -20px;
  }
  .SignupPopup {
    top: 10px;
  }
}

footer {
  position: static;
  margin-left: 0px;
}
