<div class="innerBody">
  <app-sidebar></app-sidebar>

  <div class="container mainContent">
    <div class="contentForms">
      <div class="row Jumbotron text-center">
        <div class="col-12 ">
          <img src="assets/img/img-Jumbotron.png" />
        </div>
      </div>
      <div class="Buttons">
        <div class="SignupPopup">
          <a role="button" routerLink="/new-user-recommendation">
            <img src="assets/img/img-IndexResidentialSignup.png" alt="Residential" /> Residential
          </a>
          <a role="button" routerLink="/business-details">
            <img src="assets/img/img-IndexBusinessSignup.png" alt="Residential" /> Business
          </a>
          <a class="closeBtn">x</a>
        </div>
        <div class="SignupOpenClick"></div>
        <div class="row DeskTopButtons text-center">
          <div class="col-4 col-xl text-right">
            <a href="https://www.keppelelectric.com/Home/Products">
              <img src="assets/img/img-IndexProducts.png" />
            </a>
          </div>
          <div class="col-4 col-xl-3 text-center">
            <a id="SignupButton">
              <img src="assets/img/img-IndexSignup.png" />
            </a>
          </div>
          <div class="col-4 col-xl text-left">
            <a href="#">
              <img src="assets/img/img-IndexLogin.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
