<header class="topbar kpl-topbar container-fluid" [ngClass]="{'navbar-light':newUser, 'navbar-dark':login }">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul>
      <li>
        <div>
          <a class="kpl-MenuItem About" href="#">About Us</a>
        </div>
      </li>
      <li>
        <div>
          <a class="kpl-MenuItem Login" href="#">Login</a>
        </div>
      </li>
      <li>
        <div>
          <a class="kpl-MenuItem Products" href="#">Products</a>
        </div>
      </li>
      <li>
        <a class="kpl-MenuItem Signup" href="#">Sign Up</a>
        <ul>
          <li>
            <div>
              <a class="kpl-MenuItem Residential" href="#">Residential</a>
            </div>
          </li>
          <li>
            <div>
              <a class="kpl-MenuItem Business" href="#">Business</a>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <div>
          <a class="kpl-MenuItem Register" href="#">Register Your Interest</a>
        </div>
      </li>
      <li>
        <div>
          <a class="kpl-MenuItem Track" href="#">Track Status</a>
        </div>
      </li>
      <li>
        <div>
          <a class="kpl-MenuItem Help" href="#">Help & Support</a>
        </div>
      </li>
      <li>
        <div>
          <a class="kpl-MenuItem Contact" href="#">Contact Us</a>
        </div>
      </li>


    </ul>
  </div>
  <div class="row" *ngIf="login">
    <div class="col-2 col-md-1">
      <button class="navbar-toggler" type="button" onclick="openNav()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="row" *ngIf="newUser">
    <!-- Use any element to open the sidenav -->
    <div class="col-lg-6 clearfix">
      <button class="navbar-toggler float-left" type="button" onclick="openNav()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="kpl-pgTitle float-left">Product Recommendation</h1>
    </div>

    <!--Progress Bar-->
    <div class="col-lg-6 text-lg-right text-center">
      <nav>
        <ul class="kpl-progressBar">
          <li routerLinkActive="active">
            Step
            <a role="button" routerLink="/new-user-recommendation">
              <span>1</span>
            </a>
            Recommendation
          </li>
          <li routerLinkActive="active">
            Step
            <a role="button" routerLink="/new-user-contract">
              <span>2</span>
            </a>
            Contract
          </li>
          <li routerLinkActive="active">
            Step
            <a role="button" routerLink="/new-user-confirmation">
              <span>3</span>
            </a>
            Confirmation
          </li>
        </ul>
      </nav>
    </div>
  </div>

</header>
