<app-sidebar></app-sidebar>
<div class="header-section counter-modal-scrollbar"></div>
<section class="the-content">
  <div class="container-fluid max-fluid">
    <div class="content-wrapper">
      <div class="header-content">
        <div class="tool-section">
          <a href="#" class="print d-none d-lg-block">
            <img src="assets/img/oi/print-button.png" alt="">
          </a>
        </div>
        <div class="title-section">
          <img src="assets/img/oi/k-icon.png" alt="" style="display:inline-block; padding-right: 10px;">
          <div>
            About Us 

          </div>
        </div>

      </div>
      <div class="main-content">
        <h3 class="title-with-line">KEPPEL ELECTRIC</h3>
        <div class="row">
          <div class="col-10 offset-1">
            <p>As Singapore’s first home grown electricity retailer, Keppel Electric has more than 10 years of experience in
              powering Singapore’s electricity grid. We are committed to deliver competitive electricity plans that best
              meet your everyday needs. Bringing you more choices, flexibility and savings.</p>
            <p>Today, we have helped more than 10,000 satisfied clients which include multinational companies, small and medium
              sized enterprises and government bodies in managing their electricity procurement.</p>
          </div>
        </div>

        <h3 class="title-with-line">WHY US</h3>
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <p class="text-center">We understand your needs and will continually strive to serve you better.</p>
            <div class="image-column-wrapper">

              <div class="image-column-flexchild">
                <div class="image-column">
                  <div class="img-wrapper">
                    <img src="assets/img/oi/about_1.png" alt="">
                  </div>
                  <div class="image-caption">
                    We are great value for money. You can now save with us and do more for your loved ones.
                  </div>
                </div>
              </div>

              <div class="image-column-flexchild">
                <div class="image-column">
                  <div class="img-wrapper">
                    <img src="assets/img/oi/about_2.png" alt="">
                  </div>
                  <div class="image-caption">
                    Personalised plans that best suit your needs.
                  </div>
                </div>
              </div>

              <div class="image-column-flexchild">
                <div class="image-column">
                  <div class="img-wrapper">
                    <img src="assets/img/oi/about_3.png" alt="">
                  </div>
                  <div class="image-caption">
                    Continue to enjoy a peace of mind with our fuss-free and seamless switching process.
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row" style="margin: 60px 0;">
          <div class="col-sm-10 offset-sm-1">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <div class="row steps">
          <div class="col-sm-10 offset-sm-1">
            <p class="steps-title">
              <b>Start saving with us today in just 3 easy steps!</b>
            </p>
            <div class="image-column-wrapper service">

              <div class="image-column-flexchild">
                <div class="image-column">

                  <div class="step">
                    STEP 1
                  </div>
                  <div class="img-wrapper">
                    <img class="img-fluid" src="assets/img/oi/about-svc-1.png" alt="">
                  </div>
                  <div class="image-caption-title">
                    REGISTER
                  </div>
                  <div class="image-caption">
                    Provide us with your particulars and dwelling type.
                  </div>
                </div>
              </div>

              <div class="image-column-flexchild">
                <div class="image-column">

                  <div class="arrows"></div>

                  <div class="step">
                    STEP 2
                  </div>
                  <div class="img-wrapper">
                    <img class="img-fluid" src="assets/img/oi/about-svc-2.png" alt="">
                  </div>
                  <div class="image-caption-title">
                    SELECT
                  </div>
                  <div class="image-caption">
                    Choose the plan that caters to your needs.
                  </div>
                </div>
              </div>

              <div class="image-column-flexchild">
                <div class="image-column">

                  <div class="step">
                    STEP 3
                  </div>
                  <div class="img-wrapper">
                    <img class="img-fluid" src="assets/img/oi/about-svc-3.png" alt="">
                  </div>
                  <div class="image-caption-title">
                    SAVE
                  </div>
                  <div class="image-caption">
                    Simply relax and let us help you save!
                  </div>
                </div>
              </div>

            </div>
            <p class="steps-cta-text">
              <b>Life just got Brighter with Keppel Electric.</b>
            </p>
            <div class="text-center" style="margin-top: 30px;">
              <a href="" class="btn btn-primary cta">REGISTER NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<app-footer></app-footer>
