.bgcolorSelected{
    box-shadow: 1px 0px 5px 0px rgba(166,53,83,0.5),-1px 0px 5px 0px rgba(166,53,83,0.5),0px 1px 5px 0px rgba(166,53,83,0.5),0px -1px 5px 0px rgba(166,53,83,0.5);
    border-top:0px solid rgba(166,53,83,1);
}
.planDetailPanelShow{
    display: block
}
.planBenifit{
    font-weight: bold;
    font-size: 20px
}