<div *ngIf="this.router.url == '/new-user-contract'">
  <button class="PanelRevealButton" type="button">Selection Summary</button>
  <div class="kpl-SummaryCallout">
    <h4>Selection Summary</h4>
    <div class="kpl-premise">
      <h5>
        <img src="assets/img/img-PlanIcon.png" /> {{_planDetailObj.plan}}</h5>

      <hr/>
        <p>Estimated Monthly Bill: S${{+selectedRecmData.recomPlans.estimatedBillAmount + datashare.paperCost}}*</p>  
        <div style="font-size:28px">{{selectedRecmData.recomPlans.estimatedDiscount}}% Less</div>
        <p>than with current SP Tariff</p>
    </div>
    <button class="PanelClose-Top" type="button">
      <img src="assets/img/ico-PanelArrow.png" />
    </button>
    <button class="PanelClose-Bottom" type="button">
      <img src="assets/img/ico-PanelArrow.png" />
    </button>
  </div>
</div>


<div class="PremiseInfo">
  <div class="kpl-summaryPanelSection" *ngIf="this.router.url == '/new-user-contract'">
    <p class="PanelScrollNotice d-block d-lg-none">Scroll down to see more information</p>
    <h6>Details:</h6>
    <p style="font-size: 13px;">{{_planDetailObj.benefits}}</p>
    <!-- <ul> -->
      <!-- <li>24 Months</li>
      <li>Peak Rate (7am to 11pm): $0.1/kwh</li>
      <li>Off Peak Rate(11pm to 7am): $0.01/kwh</li>
      <li>All charges are absorbed</li>
      <li>Consumption is loss adjusted</li> -->
      <!-- <li>Product Name : {{_planDetailObj.product}}</li>
      <li>Start Date : {{_planDetailObj.startDate}}</li>
      <li>Charge Type : {{_planDetailObj.chargeType}}</li>
      <li *ngIf="planName != 'FIX'">Duration :{{_planDetailObj.contractDuration}} Months</li>
    </ul> -->
    <!-- <ul *ngIf="planName == 'FIX'">
      <li *ngFor="let benifits of selectedRecmData.planBenifits">{{benifits}}</li>
    </ul> -->
  </div>

  <div class="kpl-summaryPanelSection">
    <h5>Products Charges</h5>
    <hr>
    <!-- <dl *ngIf="planName != 'FIX'">
      <dt>Consumption will be</dt>
      <dd>Loss Adjusted</dd>
      <dt>t1</dt>
      <dd>{{_planDetailObj.t1}}</dd>
      <dt>t2</dt>
      <dd>{{_planDetailObj.t2}}</dd>
      <dt>t3</dt>
      <dd>{{_planDetailObj.t3}}</dd>
    </dl> -->
   <div style="font-size: 13px;">Consumption will be Loss Adjusted</div>
   <div *ngIf="productCharges.pdfTier1Amount != ''" style="font-size: 13px;">Energy Charges : {{productCharges.pdfTier1Amount}} cents/kWh for peak periods from {{productCharges.pdfPeakValueT1}}</div>
   <div *ngIf="productCharges.pdfTier3Amount != ''" style="font-size: 13px;">Energy Charges : {{productCharges.pdfTier3Amount}} cents/kWh for peak periods from {{productCharges.pdfPeakValueT3}}</div>
   <div *ngIf="productCharges.pdfDotAmount != ''" style="font-size: 13px;">Energy Charges : {{productCharges.pdfDotAmount}} % off SP Tariff</div>
   <div *ngIf="productCharges.pdfFppAmount != ''" style="font-size: 13px;">Energy Charges : {{productCharges.pdfFppAmount}} % off SP Tariff</div>
   
   <!-- <div *ngIf="planName == 'FIX'">NA</div> -->
  </div>
  <div class="kpl-summaryPanelSection">
    <h5>Additional Services</h5>
    <hr>
    <!-- <dl *ngIf="_usderDetailObj.optionalService1== '' && _usderDetailObj.optionalService2== ''">No optional service is selected</dl> -->
    <!--<dl *ngIf="_usderDetailObj.optionalService1 == ''">Only electronic bills will be sent</dl>-->
    <dl>
      <dt *ngIf="_usderDetailObj.optionalService1 != ''">{{_usderDetailObj.optionalService1.serviceName}}</dt>
      <dd *ngIf="_usderDetailObj.optionalService1 != ''">{{_usderDetailObj.optionalService1.serviceCost}}</dd>
      <dt *ngIf="_usderDetailObj.optionalService2 != ''">{{_usderDetailObj.optionalService2.serviceName}}</dt>
      <dd *ngIf="_usderDetailObj.optionalService2 != ''">{{_usderDetailObj.optionalService2.serviceCost}}</dd>
      <!-- <dt *ngIf="_usderDetailObj.optionalService3 != ''">{{_usderDetailObj.optionalService3.serviceName}}</dt>
      <dd *ngIf="_usderDetailObj.optionalService3 != ''">{{_usderDetailObj.optionalService3.serviceCost}}</dd> -->
    </dl>
  </div>
  <div class="kpl-summaryPanelSection">
    <h5>Promotion</h5>
    <hr>
    <dl *ngIf="_usderDetailObj.promoCode== '' ">No promocode is provided yet</dl>
    <dl>
      <dt *ngIf="_usderDetailObj.promoCode != ''">{{_usderDetailObj.promoCode}}</dt>
      <dd *ngIf="_usderDetailObj.promocodeAmount != ''">(-$ {{_usderDetailObj.promocodeAmount}} on 1st Bill)</dd>
    </dl>
  </div>
  <div class="kpl-summaryPanelSection">
    <h5>Miscellaneous</h5>
    <hr>
    <dl>
      <dt>Security Deposit</dt>
      <dd>{{_sd_amount}}</dd>
      <dt>[Insert other Misc.]</dt>
      <dd>[Insert Charge]</dd>
    </dl>
  </div>
  <div class="kpl-summaryPanelSection" *ngIf="this.router.url == '/new-user-contract'">
    <hr>
    <dl>
      <dt style="width:100%;">*Based on average dwelling type consumption</dt>
    </dl>
  </div>
</div>
