<app-sidebar></app-sidebar>
<div class="container-fluid mainContent">
    <div class="row kpl-ConfirmPagesTopRow">
        <div class="col-lg-1"></div>
        <div class="col-lg-8 ConfirmHead">
            <h3 class="d-none d-lg-inline-block">Confirmation</h3>
            <h3 class="d-lg-none">Form of Acceptance</h3>
        </div>
        <div class="col-lg-3 d-none d-lg-block FormAcceptance">
            <h3>Form of Acceptance</h3>
        </div>
    </div>
    <div class="itemSection">
        <div class="row kpl-ConfirmPageItem">
            <div class="col-lg-1"></div>
            <div class="col-lg-3 order-lg-2 PremiseSection">
                <div class="PremiseInfo">
                    <div class="kpl-summaryPanelSection">
                        <h5>Products Charges</h5>
                        <hr>
                        <dl>
                            <dt>Consumption will be</dt>
                            <dd>Loss Adjusted</dd>
                            <dt>[Insert Energy Type]</dt>
                            <dd>[Insert Rate]</dd>
                            <dt>[Insert Energy Type]</dt>
                            <dd>[Insert Rate]</dd>
                            <dt>[Insert Pass through Cost]</dt>
                            <dd>As Charged</dd>
                            <dt>[Insert Pass through Cost]</dt>
                            <dd>As Charged</dd>
                        </dl>
                    </div>
                    <div class="kpl-summaryPanelSection">
                        <h5>Additional Services</h5>
                        <hr>
                        <dl>
                            <dt>[Insert VAS]</dt>
                            <dd>[Insert Cost/unit]</dd>
                            <dt>[Insert VAS]</dt>
                            <dd>[Insert Cost/unit]</dd>
                        </dl>
                    </div>
                    <div class="kpl-summaryPanelSection">
                        <h5>Promotion</h5>
                        <hr>
                        <dl>
                            <dt>[Insert Promo]</dt>
                            <dd>[Insert discount]</dd>
                            <dt>[Insert Promo]</dt>
                            <dd>[Insert discount]</dd>
                        </dl>
                    </div>
                    <div class="kpl-summaryPanelSection">
                        <h5>Miscellaneous</h5>
                        <hr>
                        <dl>
                            <dt>Security Deposit</dt>
                            <dd>[Insert SD]</dd>
                            <dt>[Insert other Misc.]</dt>
                            <dd>[Insert Charge]</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <form class="col-lg-8 order-lg-1 ConfirmSection">
                <div class="kpl-SummaryPageSection">
                    <dl>
                        <dt>
                            <h4>Premise #1 Details</h4>
                        </dt>
                        <dd>
                            <button type="button" class="btn-secondary btn">Edit Details</button>
                        </dd>
                        <dt>Premise Address</dt>
                        <dd>[Insert Premise Address]</dd>
                    </dl>
                    <dl>
                        <dt>Billing Address</dt>
                        <dd>[Insert Billing Address]</dd>
                    </dl>
                    <dl>
                        <dt>Ownership Type</dt>
                        <dd>[Insert Ownership Type]</dd>
                        <dt>SP Account Number</dt>
                        <dd>[SP Account Number]</dd>
                        <dt>Premise Details Attachment</dt>
                        <dd>[Attach Document]</dd>
                        <dt>Electricity Plan Selection</dt>
                        <dd>[Insert Plan Selected]</dd>
                        <dt>Contract Period</dt>
                        <dd>[Insert Contract Period]</dd>
                        <dt>Service Start Date</dt>
                        <dd>[Insert Service Start Date]</dd>
                        <dt>Additional Services</dt>
                        <dd>VAS #1
                            <br/>VAS#2</dd>
                        <dt>Payment Mode</dt>
                        <dd>[Insert Payment Mode]</dd>
                        <dt>Credit Terms</dt>
                        <dd>[Insert #] Days from Invoice Due</dd>
                        <dt>Charging Period</dt>
                        <dd>Monthly (As per MSSL Billing Period)</dd>
                        <dt>Early Termination & Other Charges</dt>
                        <dd>As stated in Terms & Conditions</dd>
                    </dl>
                </div>
            </form>
        </div>

        <div class="row kpl-ConfirmPageItem">
            <div class="col-lg-1"></div>
            <div class="col-lg-3 order-lg-2 PremiseSection">
                <div class="PremiseInfo">
                    <div class="kpl-summaryPanelSection">
                        <h5>Products Charges</h5>
                        <hr>
                        <dl>
                            <dt>Consumption will be</dt>
                            <dd>Loss Adjusted</dd>
                            <dt>[Insert Energy Type]</dt>
                            <dd>[Insert Rate]</dd>
                            <dt>[Insert Energy Type]</dt>
                            <dd>[Insert Rate]</dd>
                            <dt>[Insert Pass through Cost]</dt>
                            <dd>As Charged</dd>
                            <dt>[Insert Pass through Cost]</dt>
                            <dd>As Charged</dd>
                        </dl>
                    </div>
                    <div class="kpl-summaryPanelSection">
                        <h5>Additional Services</h5>
                        <hr>
                        <dl>
                            <dt>[Insert VAS]</dt>
                            <dd>[Insert Cost/unit]</dd>
                            <dt>[Insert VAS]</dt>
                            <dd>[Insert Cost/unit]</dd>
                        </dl>
                    </div>
                    <div class="kpl-summaryPanelSection">
                        <h5>Promotion</h5>
                        <hr>
                        <dl>
                            <dt>[Insert Promo]</dt>
                            <dd>[Insert discount]</dd>
                            <dt>[Insert Promo]</dt>
                            <dd>[Insert discount]</dd>
                        </dl>
                    </div>
                    <div class="kpl-summaryPanelSection">
                        <h5>Miscellaneous</h5>
                        <hr>
                        <dl>
                            <dt>Security Deposit</dt>
                            <dd>[Insert SD]</dd>
                            <dt>[Insert other Misc.]</dt>
                            <dd>[Insert Charge]</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <form class="col-lg-8 order-lg-1 ConfirmSection">
                <div class="kpl-SummaryPageSection">
                    <dl>
                        <dt>
                            <h4>Premise #1 Details</h4>
                        </dt>
                        <dd>
                            <button type="button" class="btn-secondary btn">Edit Details</button>
                        </dd>
                        <dt>Premise Address</dt>
                        <dd>[Insert Premise Address]</dd>
                    </dl>
                    <dl>
                        <dt>Billing Address</dt>
                        <dd>[Insert Billing Address]</dd>
                    </dl>
                    <dl>
                        <dt>Ownership Type</dt>
                        <dd>[Insert Ownership Type]</dd>
                        <dt>SP Account Number</dt>
                        <dd>[SP Account Number]</dd>
                        <dt>Premise Details Attachment</dt>
                        <dd>[Attach Document]</dd>
                        <dt>Electricity Plan Selection</dt>
                        <dd>[Insert Plan Selected]</dd>
                        <dt>Contract Period</dt>
                        <dd>[Insert Contract Period]</dd>
                        <dt>Service Start Date</dt>
                        <dd>[Insert Service Start Date]</dd>
                        <dt>Additional Services</dt>
                        <dd>VAS #1
                            <br/>VAS#2</dd>
                        <dt>Payment Mode</dt>
                        <dd>[Insert Payment Mode]</dd>
                        <dt>Credit Terms</dt>
                        <dd>[Insert #] Days from Invoice Due</dd>
                        <dt>Charging Period</dt>
                        <dd>Monthly (As per MSSL Billing Period)</dd>
                        <dt>Early Termination & Other Charges</dt>
                        <dd>As stated in Terms & Conditions</dd>
                    </dl>
                </div>
            </form>
        </div>
        <div class="row kpl-ConfirmPageItem">
            <div class="col-lg-1"></div>
            <div class="col-lg-3 order-lg-2 PremiseSection">
                <div class="PremiseInfo">
                    <div class="kpl-summaryPanelSection">
                        <h5>Products Charges</h5>
                        <hr>
                        <dl>
                            <dt>Consumption will be</dt>
                            <dd>Loss Adjusted</dd>
                            <dt>[Insert Energy Type]</dt>
                            <dd>[Insert Rate]</dd>
                            <dt>[Insert Energy Type]</dt>
                            <dd>[Insert Rate]</dd>
                            <dt>[Insert Pass through Cost]</dt>
                            <dd>As Charged</dd>
                            <dt>[Insert Pass through Cost]</dt>
                            <dd>As Charged</dd>
                        </dl>
                    </div>
                    <div class="kpl-summaryPanelSection">
                        <h5>Additional Services</h5>
                        <hr>
                        <dl>
                            <dt>[Insert VAS]</dt>
                            <dd>[Insert Cost/unit]</dd>
                            <dt>[Insert VAS]</dt>
                            <dd>[Insert Cost/unit]</dd>
                        </dl>
                    </div>
                    <div class="kpl-summaryPanelSection">
                        <h5>Promotion</h5>
                        <hr>
                        <dl>
                            <dt>[Insert Promo]</dt>
                            <dd>[Insert discount]</dd>
                            <dt>[Insert Promo]</dt>
                            <dd>[Insert discount]</dd>
                        </dl>
                    </div>
                    <div class="kpl-summaryPanelSection">
                        <h5>Miscellaneous</h5>
                        <hr>
                        <dl>
                            <dt>Security Deposit</dt>
                            <dd>[Insert SD]</dd>
                            <dt>[Insert other Misc.]</dt>
                            <dd>[Insert Charge]</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <form class="col-lg-8 order-lg-1 ConfirmSection">
                <div class="kpl-SummaryPageSection">
                    <dl>
                        <dt>
                            <h4>Premise #1 Details</h4>
                        </dt>
                        <dd>
                            <button type="button" class="btn-secondary btn">Edit Details</button>
                        </dd>
                        <dt>Premise Address</dt>
                        <dd>[Insert Premise Address]</dd>
                    </dl>
                    <dl>
                        <dt>Billing Address</dt>
                        <dd>[Insert Billing Address]</dd>
                    </dl>
                    <dl>
                        <dt>Ownership Type</dt>
                        <dd>[Insert Ownership Type]</dd>
                        <dt>SP Account Number</dt>
                        <dd>[SP Account Number]</dd>
                        <dt>Premise Details Attachment</dt>
                        <dd>[Attach Document]</dd>
                        <dt>Electricity Plan Selection</dt>
                        <dd>[Insert Plan Selected]</dd>
                        <dt>Contract Period</dt>
                        <dd>[Insert Contract Period]</dd>
                        <dt>Service Start Date</dt>
                        <dd>[Insert Service Start Date]</dd>
                        <dt>Additional Services</dt>
                        <dd>VAS #1
                            <br/>VAS#2</dd>
                        <dt>Payment Mode</dt>
                        <dd>[Insert Payment Mode]</dd>
                        <dt>Credit Terms</dt>
                        <dd>[Insert #] Days from Invoice Due</dd>
                        <dt>Charging Period</dt>
                        <dd>Monthly (As per MSSL Billing Period)</dd>
                        <dt>Early Termination & Other Charges</dt>
                        <dd>As stated in Terms & Conditions</dd>
                    </dl>
                </div>
            </form>
        </div>

    </div>
    <div class="PersonalDetails row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11 Content">
            <div class="kpl-SummaryPageSection">
                <dl>
                    <dt>
                        <h4>Personal Details</h4>
                    </dt>
                    <dd>
                        <button type="button" class="btn-secondary btn">Edit Details</button>
                    </dd>
                    <dt>ID Type</dt>
                    <dd>[Insert ID Type]</dd>
                    <dt>ID Number</dt>
                    <dd>[Insert ID Number]</dd>
                    <dt>Name</dt>
                    <dd>[Insert Name]</dd>
                    <dt>Email</dt>
                    <dd>[Insert Email]</dd>
                    <dt>Contact</dt>
                    <dd>[Insert Contact]</dd>
                </dl>
            </div>
            <small>
                <p>TThis Form of Acceptance is subject to the T1 General Terms and Conditions [and any Schedules thereof],
                    copies of which are available at http://www.keppelelectric.com. Unless otherwise defined, capitalised
                    terms used in this Electricity Pricing Proposal shall have the meaning ascribed to them in the T1
                    General Terms and Conditions. Charges for electricity retailed and related services provided by the
                    Retailer will be as indicated in the Terms & Conditions. </p>

                <p>The commencement and effectiveness of this Agreement is subject to the conditions precedent set out in
                    Clause 2.1 of the T1 General Terms and Conditions having been satisfied, and the Consumer's account
                    transfer to the Retailer, through the MSSL, being successfully effected.</p>
            </small>

        </div>
    </div>
    <div class="row kpl-AcknowledgementCheckBoxes">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <small>
                <div class="form-check" style="margin-top:40px;">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" id="Chk_TnC0">I acknowledge and accept the Terms and Conditions as stated here
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" id="Chk_TnC1">I acknowledge the EMA Factsheet as stated
                        <a href="EMA.html" target="_blank">here</a>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" id="Chk_TnC2">[Insert PDPA acknowledgement here]
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="" id="Chk_TnC3">[Insert Marketing Acknowledgement here]
                    </label>
                </div>
                <section style="padding-left:30px;">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" id="Chk_TnC2_Email">Email
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" id="Chk_TnC2_SMS">SMS and Telecommunication
                        </label>
                    </div>
                </section>
            </small>
            <div class="row">
                <div class="col-12">
                    <div class="form-group text-center" style="margin-top:20px;">
                        <button type="button" class="btn btn-primary" onclick="location.href='Acknowledgement.html'">Confirm</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>