<app-sidebar></app-sidebar>
<div class="container-fluid mainContent">
  <div class="row kpl-ConfirmPagesTopRow">
    <div class="col-lg-1"></div>
    <div class="col-lg-8 ConfirmHead">
      <h3 class="d-none d-lg-inline-block">Confirmation</h3>
      <h3 class="d-lg-none">Form of Acceptance</h3>
    </div>
    <div class="col-lg-3 d-none d-lg-block FormAcceptance">
      <h3>Form of Acceptance</h3>
    </div>
  </div>
  <div class="itemSection">

    <div class="row kpl-ConfirmPageItem">
      <div class="col-lg-1"></div>
      <div class="col-lg-3 order-lg-2 PremiseSection">
        <app-summary></app-summary>
      </div>
      <div class="col-lg-8 order-lg-1 ConfirmSection">
        <div class="kpl-SummaryPageSection">
          <dl>
            <dt>
              <h4>Premise #1 Details</h4>
            </dt>
            <dd>
              <button *ngIf="editDetails" type="button" class="btn-secondary btn" routerLink="/new-user-contract">Edit Details</button>
            </dd>
            <dt>Premise Address</dt>
            <dd>{{_usderDetailObj.premiseAddress}}
            </dd>
          </dl>
          <dl>
            <dt>Billing Address</dt>
            <dd>{{_usderDetailObj.billingAddress}}
            </dd>
          </dl>
          <dl>
            <dt>Ownership Type</dt>
            <dd>{{_usderDetailObj.tenantOrOwner}}</dd>
            <dt>SP Account Number</dt>
            <dd>{{_usderDetailObj.spAccount}}</dd>
            <dt>Premise Details Attachment</dt>
            <dd>{{_usderDetailObj.attachmentName}}</dd>
            <dt>Electricity Plan Selection</dt>
            <dd>{{_usderDetailObj.selectedPlanObj.plan}}</dd>
            <dt>Contract Period</dt>
            <dd>{{_usderDetailObj.selectedPlanObj.contractDuration}}</dd>
            <dt>Service Start Date</dt>
            <dd>{{_usderDetailObj.serviceStartDate | date: 'dd/MM/yyyy'}}</dd>
            <dt *ngIf="_usderDetailObj.optionalService1 == ''"></dt>
            <dd *ngIf="_usderDetailObj.optionalService1 == ''">Only electronic bills will be sent</dd>
            <dt>Additional Services</dt>
            <dd>
              <span *ngIf="_usderDetailObj.optionalService1.serviceName != ''">{{_usderDetailObj.optionalService1.serviceName}}</span>
              <br/>
              <span *ngIf="_usderDetailObj.optionalService2.serviceName != ''">{{_usderDetailObj.optionalService2.serviceName}}</span>
              <br/>
              <span *ngIf="_usderDetailObj.optionalService3.serviceName != ''">{{_usderDetailObj.optionalService3.serviceName}}</span>
            </dd>
            <dt>Payment Mode</dt>
            <dd>{{_usderDetailObj.paymentMethod}}</dd>
            <dt>Credit Terms</dt>
            <dd>14 Days from Invoice Due</dd>
            <dt>Charging Period</dt>
            <dd>Monthly (As per MSSL Billing Period)</dd>
            <dt>Early Termination & Other Charges</dt>
            <dd>As stated in Terms & Conditions</dd>
          </dl>
        </div>
      </div>
    </div>


  </div>
  <div class="PersonalDetails row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11 Content">
      <div class="kpl-SummaryPageSection">
        <dl>
          <dt>
            <h4>Personal Details</h4>
          </dt>
          <dd>
            <button *ngIf="editDetails" type="button" class="btn-secondary btn" routerLink="/new-user-contract">Edit Details</button>
          </dd>
          <dt>ID Type</dt>
          <dd>{{_usderDetailObj.icNumberType}}</dd>
          <dt>ID Number</dt>
          <dd>{{_usderDetailObj.icNumber}}</dd>
          <dt>Name</dt>
          <dd>{{_usderDetailObj.firstName}} {{_usderDetailObj.lastName}}</dd>
          <dt>Email</dt>
          <dd>{{_usderDetailObj.eMail}}</dd>
          <dt>Contact</dt>
          <dd>{{_usderDetailObj.mobileNumber}}</dd>
        </dl>
      </div>
      <small>
        <p class="text-justify">
          Unless otherwise defined, capitalised terms used in this Form of Acceptance shall have the meanings ascribed to them in the
          Residential Consumers General Terms and Conditions (a copy of which is available at
          <a href="http://portal.keppelelectric.com/termsandconditions" target="blank">http://portal.keppelelectric.com/termsandconditions</a>) (“GT&Cs”). For each Premises specified above, a separate
          and distinct agreement shall be formed for the services to be provided at such Premises, on the terms of the GT&Cs
          and the terms applicable to that Premises in this Form of Acceptance. The effectiveness of each such agreement
          is subject to the conditions precedent set out in Clause 2.1 of the GT&Cs having been satisfied or waived in accordance
          with the provisions of the GT&Cs.
        </p>

        <p>
          Discounted-off regulated tariff plan(s) will be discounted off prevailing residential electricity tariff.
        </p>
        <br>
        <address>
          KEPPEL ELECTRIC
          <br> 1 HARBOURFRONT AVE
          <br> #05-05 KEPPEL BAY TOWER
          <br> SINGAPORE 098632
          <br> general enquiry: (65) 6803 3000
          <br> email:
          <a href="mailto:enquiry@keppelelectric.com">enquiry@keppelelectric.com </a>
        </address>

      </small>

    </div>
  </div>
  <div class="row kpl-AcknowledgementCheckBoxes">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <small>
        <div class="form-check" style="margin-top:40px;">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" id="Chk_TnC0" (click)=termConditionOne($event,1)>* I acknowledge and accept the Residential Consumers General Terms and Conditions as stated
            <a href="http://portal.keppelelectric.com/termsandconditions" target="_blank">here</a>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" id="Chk_TnC1" (click)=termConditionOne($event,2)>* I acknowledge the EMA Factsheet as stated
            <a routerLink="/emaSheet" target="blank">here</a>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" id="Chk_TnC2" (click)=termConditionOne($event,3)>* I consent to the collection, use and disclosure of my personal data for the purposes specified under the Retailer’s
            data protection policy as stated
            <a href="http://portal.keppelelectric.com/privacystatement" target="_blank">here</a>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" id="Chk_TnC3" (click)="marketingConsent($event,'consent')">I consent to the Retailer, its business partners and agents contacting me via phone call and other phone number-based
            messaging about products and services offered by the Retailer, its business partners and agents, regardless of
            my registration(s) with the Do Not Call registry. Preferred mode of communication are
          </label>
        </div>
        <section style="padding-left:30px;">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" id="Chk_TnC2_Email" (click)="marketingConsent($event,'email')" [checked]= '_usderDetailObj.marketingEmail'>Email
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" id="Chk_TnC2_SMS" (click)="marketingConsent($event,'sms')" [checked]= '_usderDetailObj.marketingSMS'>SMS and Telecommunication
            </label>
          </div>
        </section>
      </small>
      <div class="row">
        <div class="col-12">
          <div class="form-group text-center" style="margin-top:20px;">
            <button type="button" class="btn btn-primary" (click)="confirmClicked()">Confirm</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div style="text-align: center">
  </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>
<app-footer></app-footer>


<!-- Modal -->
<div class="modal fade" id="downLoadRedirect" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body text-center">
        <p *ngIf="this.DS.usderDetailObj.paymentMethod == 'Giro'">Do you want to download Giro form</p>
        <p *ngIf="this.DS.usderDetailObj.paymentMethod == 'IDDA (DBS)'">We are redirecting you to DBS bank's website</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default" (click)="downloadRedirect()">Confirm</button>
      </div>
    </div>
  </div>
</div>
